@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.modal-content {
  transition: border-color 0.2s linear;
  background: #ffffff;
  padding: 2rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  padding: 0.45rem 0;
  width: 100%;
  text-align: center;
  color: #000d35;
  width: 406px;
  height: 509px;
}

.modalTitle {
  margin-top: 30px;
  color: #000d35;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  padding: 0.45 rem 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}

.modalButtonSignIn {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background-color: white;
  color: grey;
  width: 60%;
  height: 51px;
}

.modalButtonSignIn:hover {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background-color: white;
  color: grey;
}

.modalConnectWallet {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  /* or 173% */

  text-align: center;

  color: #000000;
}

.modalOr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #000000;
}

.modalTerms {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;

  color: #878787;
}

.modalRow {
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
}

.verifiedLogin {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-top: 15px;

  color: #60657c;
}

.verifierContainer {
  display: inline-block;
  text-align: left;
}

.nextBtn {
  width: 100%;
}

.passwordInputBox {
  background-color: transparent;
  color: #000000;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1px;
  padding: 3px;
  margin: 15;
  width: 80%;
  padding-bottom: 10px;
}

.verifyPasswordContainer {
  margin-top: 5%;
  margin-left: 10%;
  text-align: left;
}

.greyText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -1px;
  margin-bottom: 15px;

  color: #a8aeb7;
}

.greenText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -1px;
  margin-bottom: 15px;
  color: #00b43c;
}
