@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.modal-content {
  transition: border-color 0.2s linear;

  background: #ffffff;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  box-shadow: none;
  color: #000;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  padding: 0.45rem 0;
  width: 100%;
  text-align: center;
  color: #ffdd9e;
}
.closeButton {
  color: white !important;
}

.modalTitle {
  color: #000d35;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  padding: 0.45 rem 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}

.modal-header {
  color: #000d35;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  padding: 0.45 rem 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 26px;
}

.modalButtonSignIn {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background-color: white;
  color: grey;
  width: 60%;
  height: 51px;
}

.modalButtonSignIn:hover {
  border: 2px solid #d9d9d9;
  border-radius: 30px;
  background-color: white;
  color: grey;
}

.modalConnectWallet {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  /* or 173% */

  text-align: center;

  color: #000000;
}

.modalOr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #000000;
}

.modalTerms {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;

  color: #878787;
}
